.rodape {
    background: #e3434a;
    font-family: Arial, Helvetica, sans-serif;
}
a{
    text-decoration: none;
}
.cabecalho img {
    height: 300px;
    width: 150px;
}

.cabecalho h3 {
    color: white;
    margin-top: 120px;
    padding-left: 20px;
}

.cabecalho {
    display: flex;
    justify-content: space-around;
    background: #e3434a;
}

.linha {
    width: 100%;
    border: 1px solid #fff;
}

.fim {
    display: flex;
}

.logos {
    height: 50px;
    width: 50px;
    margin: 50px 50px;
}

.fim h4 {
    margin-top: 70px;
    margin-left: 300px;
    color: white
}

.voltarTopo {
    color: white;
    text-decoration: none;
    margin-top: 40px;
    margin-left: 150px;
}