
:global(*) {
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}


.navbar {
    display: flex;
    justify-content: center; /* centraliza o menu */
    align-items: center;
    background: #E63946;
    height: 130px;
    padding: 0 20px; /* espaçamento lateral */
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px; /* evita ultrapassar a tela */
    gap: 20px;
}

.logo {
    width: 95px;
    height: auto;
}


.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links li a {
    font-weight: bold;
    text-decoration: none;
    color: #ffffff;
    transition: filter 0.2s;
}

.nav-links li a:hover {
    filter: brightness(0.8);
}


.botao {
    height: 50px;
    width: 180px;
    border-radius: 50px;
    background-color: #F4F4F4;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    cursor: pointer;
}

.botao a {
    color: black;
    text-decoration: none;
    font-size: 18px;
}

.imgfundo {
    background-color: #f5f5f5;
    background-image: url("../../assets/imageFundo.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 90vh;
    width: 100%;
    display: flex;
    align-items: center;
    
}


.logoPrincipal {
    height: 50%;
    width: auto;
    margin-left: 10%;
    
}
