*{
    font-family:  'Instrument Sans', sans-serif;
}
.secaoEntrega h1 {
    color: #1D3557; 
}

.Cards {
    display: flex;  
    column-gap: 10px;   
    row-gap: 20px;           
    flex-wrap: wrap;    
    justify-content: center;
}
.Cards .card {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #C4C4C4;
    margin-left: auto; /* Centraliza horizontalmente */
    margin-right: auto;
    width: 100%; /* Garante que ele use a largura total em telas pequenas */
    max-width: 400px; /* verificar se ficar 400px ou 600px */
    padding-bottom: 4.5%;
    border-radius: 2%;
}
/* Imagem dentro do card */
.Cards img {
    max-width: 100%;       
    border-radius: 8px;  
     object-fit: cover;
}

/* Título do card */
.Cards h2 {
    color: black;
    font-size: 1.8rem;  
    margin: 10px 0;   
}

/* Texto do card */
.Cards p {
    color: #333333;
    font-size: 1.3rem;
}
.Cards button {
    display: flex;
    align-items: center;
    gap: 5px;
    background-color: #E63946;
}
