#root {
<<<<<<< HEAD
<<<<<<< HEAD
=======
    background-color: #F1FAEE;
>>>>>>> feat/galeria
=======
    background-color: #F1FAEE;
>>>>>>> feat/participantes
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
<<<<<<< HEAD
<<<<<<< HEAD
}
=======
}
>>>>>>> feat/galeria
=======
}
>>>>>>> feat/participantes
